<!-- Page Content -->
<a name="ABOUT"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <div class="clearfix"></div>
        <h1 class="section-heading">Cards Against Austerity</h1>
        <p class="lead">{{page.about.text}}</p>
        <a href="{{ "/assets/CardsAgainstAusterity.pdf" | prepend: site.baseurl }}" target="_blank" class="btn btn-lg btn-download"><i class="fa fa-file"></i> {{page.about.button}}</a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" style="margin-bottom: -51px;" src="{{ "/img/fist22222.png" | prepend: site.baseurl }}" alt="Raised fist">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->
