<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Get Involved!</h2>
        <p class="lead">Add your ideas to the set with our <a target="_blank">card generator</a>!</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="{{ "/img/pic2.png" | prepend: site.baseurl }}" alt="Arch Linux boot menu">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->
