<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-md-offset-8 col-lg-offset-8 col-xs-6 col-xs-offset-1 text-right" style="padding-right:0;">
        <div class="row">
          <div class="col-xs-12">
            <p style="margin-bottom:0;margin-top:10px;">
              {{page.footer}}<br/>
              <a href="https://www.facebook.com/fasamobilizationteam">FASA Mobilisation Team</a>
            </p>
          </div>
          <div class="col-xs-12" style="margin-top:65px">
            <p>Questions? Suggestions? <a href="mailto:info@CardsAgainstAusterity.com">Contact us</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-xs-5" style="padding-left:0;">
        <img class="img-responsive"src="/img/mobi128.png" />
      </div>
    </div>
  </div>
</footer>
