<!-- Page Content -->
<a name="HOWTOPLAY"></a>
<div class="content-section-a"  onload="init();">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="clearfix"></div>
        <h1 class="section-heading">{{page.rules.title}}</h1>
        <p class="lead">{{page.rules.text}}</p>
      </div>
      <div class="col-md-6 col-lg-push-1">
        <canvas id="cardCanvas" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->
